{{ define "home" }}
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p>You have been authenticated successfully.</p>

    </div>
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Authentication Code</th>
                    <th scope="col">Session State</th>
                    <th scope="col">Access Token</th>
                    <th scope="col">Scope</th>
                    <th scope="col">Refresh Token</th>
                </tr>
                </th>
            <tbody>
                <tr>
                    <td>{{.AuthCode}}</td>
                    <td>{{.SessionState}}</td>
                    <td style="word-break: break-all;">{{.AccessToken}}</td>
                    <td>{{.Scope}}</td>
                    <td style="word-break: break-all;">{{.RefreshToken}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{{ end }}