<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>SeCTF</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="icon" href="data:,">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/login">SeCTF</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/services">Test Service</a></li>

        <li class="nav-item"><a class="nav-link" href="/state">State</a></li>
        <li class="nav-item"><a class="nav-link" href="/code">Code</a></li>
        <li class="nav-item"><a class="nav-link" href="/redirect_url">Redirect URL</a></li>
        <li class="nav-item"><a class="nav-link" href="/client_secret">Client Secret</a></li>
        <li class="nav-item"><a class="nav-link" href="/access_token">Access Token</a></li>
        <li class="nav-item"><a class="nav-link" href="/clickjacking">Clickjacking</a></li>

        <li class="nav-item"><a class="nav-link disabled" href="/logout" tabindex="-1" aria-disabled="true">Logout</a></li>
      </ul>
    </div>
  </nav>

  {{block "login" .}}{{ end }}

  {{block "home" .}}{{ end }}

  {{block "services" .Services}}{{ end }}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>