{{ define "login" }}
<main role="main" class="container">
    <div class="jumbotron">
        <h1>OAUTH 2.0 Security Challenge</h1>
        <p class="lead">You must login to continue.</p>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login with Keycloak &raquo;</a></p>
    </div>
</main>
{{ end }}