{{ define "services" }}
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-3">Services</h1>
        <p>Please pay your bills.</p>
    </div>
    <div style="text-align: center;">
        {{ range .}}
        <p>{{.}}</p>
        {{end}}
    </div>
</main>
{{ end }}